{% extends "base.html" %}
{% block title %}Contact Us{% endblock %}
{% block content %}
    <p>Rafael Moreira - <a href="mailto:rafaelalvesmoreira@my.unt.edu">rafaelalvesmoreira@my.unt.edu</a></p>
    <p>Ngoc Phan - <a href="mailto:ngocphan@my.unt.edu">ngocphan@my.unt.edu</a></p>
    <p>Rudra Reddy Narayanagari - <a href="mailto:rudrareddynarayanagari@my.unt.edu">rudrareddynarayanagari@my.unt.edu</a></p>
    <p>Tanakit Phamornratanakun - <a href="mailto:tanakitphamornratanakun@my.unt.edu">tanakitphamornratanakun@my.unt.edu</a></p>
{% endblock %}