<!DOCTYPE html>
<HTML>
<HEAD>
	<META name="viewport" content="width=device-width, initial-scale=1">
	<META charset="UTF=8">
	<TITLE>Predicting Bicycle Rental Demand</TITLE>
	<LINK rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<SCRIPT src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></SCRIPT>
	<SCRIPT src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></SCRIPT>
	<SCRIPT src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></SCRIPT>
	<STYLE>
		.btn-circle.btn-xl {
		    width: 70px;
		    height: 70px;
		    padding: 10px 2px;
		    border-radius: 35px;
		    font-size: 17px;
		    line-height: 1.33;
		}
	</STYLE> 
</HEAD>
<BODY>
<DIV class="container">
	<p>
		Model Intercept: {{model_intercept}}<br />
		Model's Features: {{features}}<br />
		Regression Coefficients: {{model_coef}}
	</p>
</DIV>
</BODY>

<SCRIPT>
	var INTERCEPT = {{model_intercept}}
	var COEF = {{model_coef}}
    var FEATURES {{features}}
</SCRIPT>
</HTML>