{% extends "base.html" %}
{% block title %}Project 2{% endblock %}
{% block content %}
<br>
{% endblock %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Index Search Page</title>
  </head>
  <body>
    <form method="post">
      <p>Minimum Temperature: <input type= "number" name="min_temp" required></p>
      <p>Maximum Temperature: <input type= "number" name="max_temp" required></p>
      <p>Minimum House Price: <input type= "number" name="min_price" required></p>
      <p>Maximum House Price: <input type= "number" name="max_price" required></p>
      <p>Year you want to buy a house: <input type= "number" name="year" required></p>
      <p>Month you want to buy a house: <input type= "number" name="month" required></p><br>
      <input type="submit">
    </form>

  </body>
</html>
