<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Index Search Page</title>
  </head>
  <body>
    <form method="post">
      <p>Minimum Temperature <input type= "number" name="min_temp" required></p>
      <p>Max Temperature <input type= "number" name="max_temp" required></p>
      <p>Desired House Price: <input type= "number" name="budget" required></p>
      <p>Year you want to buy a house: <input type= "number" name="year" required></p><br>
      <input type="submit">
    </form>

  </body>
</html>
